<section class="about-us ">
  <h2 class="title">About<span class="title title_blue"> us</span></h2>
  <div class="about-us-container">
    <div class="about-us__map">
        <div
                style="overflow:hidden;
                width: 1600px;
                position: relative;">
            <iframe
                    width="1600"
                    height="150"
                    src="https://maps.google.com/maps?width=1600&amp;height=150&amp;hl=en&amp;q=35%20Cedar%20Avenue%2C%20Pasadena%2C%20California+(35%20Cedar%20Avenue%2C%20Pasadena%2C%20California)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=B&amp;output=embed"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0">
            </iframe>
            <div
                    style="position: absolute;
                    width: 80%;
                    bottom: 10px;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    color: #000;
                    text-align: center;">
            </div>
            <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>


            <div class="width-wrapper">
                <address class="address-shop ">
                    <a class="logo-smaller" href="#" role="button"><img src="img/desktop/about-us/logo.png" width="118" height="16" alt="interest logo"></a>
                    <div class="address-location">
                        <img class="address-shop__image" src="img/desktop/about-us/point.png" width="12" height="16" alt="location">
                        <p class="address-shop__location">35 Cedar Avenue, Pasadena, California</p>
                    </div>
                    <div class="address-phone">
                        <img class="address-shop__image" src="img/desktop/about-us/phone.png" width="12" height="16" alt="phone number">
                        <a class="address-shop__phone" href="tel:8101408138659">8101408138659</a>
                    </div>
                    <div class="address-mail">
                        <img class="address-shop__image" src="img/desktop/about-us/mail.png" width="12" height="16" alt="mail">
                        <a class="address-shop__mail" href="mailto:interest-shop@gmail.com">interest-shop@gmail.com</a>
                    </div>
                </address>
            </div>
        </div>

    </div>
  </div>
</section>
