<section class="arrivals width-wrapper">
  <h2 class="title"><span class="title title_blue">New</span> arrivals</h2>
  <div class="arrivals-catalog width-wrapper">
    <article class="arrivals-item arrivals-item__1">
      <h2 class="title title_hidden">Arrivals title</h2>
      <div class="arrivals-item__description">
        <p class="arrivals-item__text">Soft blue chair</p>
        <p class="arrivals-item__price">$65</p>
      </div>
    </article>
    <div class="arrivals-item-container-right-top">
      <article class="arrivals-item arrivals-item__2">
        <h2 class="title title_hidden">Arrivals title</h2>
        <div class="arrivals-item__description">
          <p class="arrivals-item__text">Bathroom set</p>
          <p class="arrivals-item__price">$15</p>
        </div>
      </article>
      <article class="arrivals-item arrivals-item__3">
        <h2 class="title title_hidden">Arrivals title</h2>
        <div class="arrivals-item__description">
          <p class="arrivals-item__text">Metal Lamp</p>
          <p class="arrivals-item__price">$5</p>
        </div>
      </article>
    </div>
    <div class="arrivals-item-container-flex-row">
      <article class="arrivals-item arrivals-item__4">
        <h2 class="title title_hidden">Arrivals title</h2>
        <div class="arrivals-item__description">
          <p class="arrivals-item__text">Wood Wall Clock</p>
          <p class="arrivals-item__price arrivals-item__price_alignment">$15</p>
        </div>
      </article>
      <article class="arrivals-item arrivals-item__5">
        <h2 class="title title_hidden">Arrivals title</h2>
        <div class="arrivals-item__description">
          <p class="arrivals-item__text">Whistling kettle</p>
          <p class="arrivals-item__price arrivals-item__price_alignment">$25</p>
        </div>
      </article>
    </div>
    <article class="arrivals-item arrivals-item__6">
      <h2 class="title title_hidden">Arrivals title</h2>
      <div class="arrivals-item__description">
        <p class="arrivals-item__text">Stripped bed linen</p>
        <p class="arrivals-item__price arrivals-item__price_alignment">$7</p>
      </div>
    </article>
  </div>
  <div class="btn-more_center"><a class="btn btn-more" href="#" role="button">See more</a></div>
</section>
