<section class="blog width-wrapper clearfix">
  <h2 class="title"><span class="title title_blue">Our</span> blog</h2>
  <div class="blog-item-container">
    <article class="blog-item blog-item__1">
      <h2 class="title title_hidden">Blog title</h2>
      <img class="blog-item__image" src="img/desktop/blog/couch.png" width="330" height="330" alt="blog photo">
      <div class="blog-item__description">
        <p class="blog-item__title">Lorem ipsum dolor sit amet</p>
        <div class="blog-social-information">
          <p class="blog-likes"><img class="likes__image" src="img/desktop/video/icon-like.png" width="13" height="11" alt="likes"> 105 likes</p>
          <p class="blog-comments"><img class="comments__image" src="img/desktop/video/icon-commentaries.png" width="13" height="11" alt="comments"> 23 comments</p>
        </div>
        <a class="btn-read" href="#" role="button">Read more</a>
      </div>
    </article>
    <article class="blog-item blog-item__2">
      <h2 class="title title_hidden">Blog title</h2>
      <img class="blog-item__image" src="img/desktop/blog/office.png" width="330" height="330" alt="blog photo">
      <div class="blog-item__description">
        <p class="blog-item__title">Nullam molestie felis</p>
        <div class="blog-social-information ">
          <p class="blog-likes"><img class="likes__image" src="img/desktop/video/icon-like.png" width="13" height="11" alt="likes"> 116 likes</p>
          <p class="blog-comments"><img class="comments__image" src="img/desktop/video/icon-commentaries.png" width="13" height="11" alt="comments"> 13 comments</p>
        </div>
        <a class="btn-read" href="#" role="button">Read more</a>
      </div>
    </article>
    <article class="blog-item blog-item__3">
      <h2 class="title title_hidden">Blog title</h2>
      <img class="blog-item__image" src="img/desktop/blog/bedroom.png" width="330" height="330" alt="blog photo">
      <div class="blog-item__description">
        <p class="blog-item__title">Vivamus lacinia lacus</p>
        <div class="blog-social-information">
          <p class="blog-likes"><img class="likes__image" src="img/desktop/video/icon-like.png" width="13" height="11" alt="likes"> 210 likes</p>
          <p class="blog-comments"><img class="comments__image" src="img/desktop/video/icon-commentaries.png" width="13" height="11" alt="comments"> 26 comments</p>
        </div>
        <a class="btn-read" href="#" role="button">Read more</a>
      </div>
    </article>
  </div>
</section>
