<footer class="footer">
  <div class="width-wrapper social-wrapper">
    <a href="#" role="button">
      <img class="facebook" src="img/desktop/footer/fb.png" width="29" height="29" alt="facebook">
    </a>
    <a href="#" role="button">
      <img class="vkontakte" src="img/desktop/footer/vk.png" width="29" height="29" alt="vkontakte">
    </a>
    <a href="#" role="button">
      <img class="linkedin" src="img/desktop/footer/linkedin.png" width="29" height="29" alt="linkedin">
    </a>
    <a href="#" role="button">
      <img class="youtube" src="img/desktop/footer/youtube.png" width="29" height="29" alt="youtube">
    </a>
  </div>
</footer>
