<header class="header">
  <div class="container container_gray">
     <div class="width-wrapper header-top clearfix">
       <div class="user-choose clearfix">
        <p class="user-choose__currency">USD
          <img class="user-choose__button" src="img/desktop/header-top/play-button.png" alt="arrow to down" width="8" height="5">
        </p>
        <p class="user-choose__language">ENG
          <img class="user-choose__button" src="img/desktop/header-top/play-button.png" alt="arrow to down" width="8" height="5">
         </p>
      </div>
      <form class="login-form"><a>Log in</a><p class="login-form__text">or</p><a>sign up</a></form>
    </div>
  </div>
  <div class="container">
   <div class="width-wrapper header-bottom clearfix">
      <a href="#" class="logo-shop">
        <img  src="img/desktop/header-bottom/logo.png" alt="interest logo" width="200" height="26">
      </a>
      <nav class="header-menu">
        <ul class="page-menu page-menu_desktop">
          <li><a class="page-menu__item page-menu__item-1 page-menu__item_active" href="#">Stores</a></li>
          <li><a class="page-menu__item page-menu__item-2" href="#">Products</a></li>
          <li><a class="page-menu__item page-menu__item-3" href="#">Projects</a></li>
          <li><a class="page-menu__item page-menu__item-4" href="#">Blog</a></li>
          <li><a class="page-menu__item page-menu__item-5" href="#">About us</a></li>
        </ul>
        <a><img class="sandwich-mobile" src="img/mobile/header-bottom/list.png" alt="search" width="38" height="30"></a>
        <div class="user-nav">
          <a class="search-form" href="#">
            <img class="search-form__image search-form__image_desktop" src="img/desktop/header-bottom/search-icon.png" alt="search" width="14" height="14">
            <img class="search-form__image search-form__image_mobile" src="img/mobile/header-bottom/search-icon.png" alt="search" width="28" height="28">
          </a>
          <a class="user-nav__cart" href="#">
            <img class="cart-image cart-image_desktop" src="img/desktop/header-bottom/cart-icon.png" alt="cart" width="19" height="14">
            <img class="cart-image cart-image_mobile" src="img/mobile/header-bottom/cart-icon.png" alt="cart" width="37" height="28">
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
