<section class="products width-wrapper">
  <h2 class="title">
    <span class="title title_blue">Our</span> products
  </h2>
  <ul class="products-list products-list_desktop">
    <li class="products-list__item"><img src="img/desktop/our-products/houseall.png" width="30" height="30" alt="all"><a href="#" role="button">All</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/chairs.png" width="20" height="31" alt="furniture"><a href="#" role="button">Furniture</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/sinks.png" width="25" height="30" alt="bathroom"><a href="#" role="button">Bathroom</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/lamp.png" width="29" height="31" alt="lighting"><a href="#" role="button">Lighting</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/mirror.png" width="22" height="30" alt="accessorise"><a href="#" role="button">Accessories</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/dishes.png" width="29" height="30" alt="dishes"><a href="#" role="button">Dishes</a></li>
    <li class="products-list__item"><img src="img/desktop/our-products/blinds.png" width="34" height="30" alt="textile"><a href="#" role="button">Textile</a></li>
  </ul>
  <div class="products-mobile">
    <a href="#" role="button" class="products-mobile_text">All</a>
    <img class="products-mobile_image" src="img/mobile/products/shape.png" alt="search" width="30" height="17">
  </div>
  <div class="catalog width-wrapper ">
    <article class="catalog-item catalog-item_1">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a href="#" role="button">
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/blue-chair.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-1" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Soft Home chair</div>
        <p class="catalog-item__price">$45</p>
        <a class="btn-buy" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_2">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/metal-lamp.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-1" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Metal pyramid lamp</div>
        <p class="catalog-item__price">$25</p>
        <a class="btn-buy" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_3">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/mellon-pillow.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-1" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Mellon soft pillow</div>
        <p class="catalog-item__price">$10</p>
        <a class="btn-buy" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_4 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/alarm.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-2" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Mini Metal Retro Alarm</div>
        <p class="catalog-item__price catalog-item__price_row-2">$5</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_5 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/shelf.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-2" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Triangular wooden shelf</div>
        <p class="catalog-item__price catalog-item__price_row-2">$20</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_6 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/bath-mat.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-2" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Soft bath mat</div>
        <p class="catalog-item__price catalog-item__price_row-2">$25</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_7 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/plate.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-2" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Soup beige plate</div>
        <p class="catalog-item__price">$3</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_8 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/vase.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating  catalog-item__rating_position-2" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Polygonal ceramic vase</div>
        <p class="catalog-item__price">$20</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
    <article class="catalog-item catalog-item_9 visually-hidden-mobile">
      <h2 class="title title_hidden">Catalog title</h2>
      <div class="article-wrapper">
        <a>
          <img class="catalog-item__image" src="img/desktop/our-products/catalog/chair-green.png" width="330" height="330" alt="image">
        </a>
        <div class="rating-container">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
          <img class="catalog-item__rating" src="img/desktop/our-products/catalog/star-gold.png" width="16" height="15" alt="rating">
        </div>
        <div class="catalog-item__text">Bean bag chair green</div>
        <p class="catalog-item__price">$55</p>
        <a class="btn-buy btn-buy_row-2" href="#" role="button">Buy now</a>
      </div>
    </article>
  </div>
  <a class="btn btn-more" href="#" role="button">See more</a>
</section>
