<section class="projects width-wrapper">
  <h2 class="title"><span class="title title_blue">Our</span> projects</h2>
  <div class="responsive-video-wrapper">
    <div class="video-container clearfix">
      <div class="video">
          <iframe class="video__1"
                  width="780"
                  height="360"
                  src="https://www.youtube.com/embed/vkqbndO4yXg"
                  frameborder="0"
                  allow="accelerometer;
                  autoplay;
                  encrypted-media;
                  gyroscope;
                  picture-in-picture"
                  allowfullscreen>
          </iframe>
      </div>
      <div class="video video_right">
          <div class="video">
              <iframe class="video__2"
                      width="330"
                      height="170"
                      src="https://www.youtube.com/embed/PzFWhuogUfU"
                      frameborder="0"
                      allow="accelerometer;
                      autoplay;
                      encrypted-media;
                      gyroscope;
                      picture-in-picture"
                      allowfullscreen>
              </iframe>
          </div>
          <div class="video">
              <iframe class="video__3"
                      width="330"
                      height="170"
                      src="https://www.youtube.com/embed/MCcL-21zgE8"
                      frameborder="0"
                      allow="accelerometer;
                      autoplay;
                      encrypted-media;
                      gyroscope;
                      picture-in-picture"
                      allowfullscreen>
              </iframe>
          </div>
      </div>
    </div>
  </div>
  <div class="video-description">
    <p class="projects__title">Our top design interiors full video review</p>
    <div class="video-social-information clearfix">
      <p class="projects__time project-text"><time datetime="2017-04-07T02:20:11+03:00"></time>Apr7, 2:20 pm</p>
      <p class="likes project-text"><img class="likes__image likes__image_position" src="img/desktop/video/icon-like.png" width="13" height="11" alt="likes"> 105</p>
      <p class="comments-video project-text"><img class="comments__image comments__image_position" src="img/desktop/video/icon-commentaries.png" width="13" height="11" alt="comments">15 comments</p>
    </div>
  </div>
  <section class="comments">
    <h2 class="title title_hidden">Comments title</h2>
    <div class="comments__header clearfix">
      <p class="comments__all">15 comments</p>
      <img class="comments__switch" src="img/desktop/video/shape.png" width="19" height="10" alt="switch">
    </div>
    <article class="user-comment clearfix">
     <h2 class="title title_hidden">Comment title</h2>
      <img class="user-comment__photo" src="img/desktop/comments/Colin-Farrell.png" width="70" height="70" alt="user-photo">
      <div class="post">
        <div class="user-info clearfix">
          <p class="user-comment__name">Tyler Warren</p>
          <p class="user-comment__time"><time datetime="2017-04-08T10:45:11+03:00"></time>10:45, 8 Apr 17</p>
        </div>
        <p class="user-comment__text">Lorem ipsum dolor sit amet, consectetur adipiscing edit. Thanks, Tyler W.</p>
        <a class="btn-reply" href="#" role="button">Reply</a>
      </div>
    </article>
    <article class="user-comment clearfix">
      <h2 class="title title_hidden">Comment title</h2>
      <img class="user-comment__photo" src="img/desktop/comments/Cara-Taylor.png" width="70" height="70" alt="user-photo">
      <div class="post">
        <div class="user-info clearfix">
          <p class="user-comment__name">Cara Taylor</p>
          <p class="user-comment__time"><time datetime="2017-04-08T11:24:11+03:00"></time>11:24, 8 Apr 17</p>
        </div>
        <p class="user-comment__text">The comment above by Tyler encouraged me to add a class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ut magna consequat ex interdum ullamcorper eget non turpis. </p>
        <a class="btn-reply" href="#" role="button">Reply</a>
      </div>
    </article>
    <article class="user-comment clearfix user-comment_top-position">
      <h2 class="title title_hidden">Comment title</h2>
      <img class="user-comment__photo" src="img/desktop/comments/Matew-McDonald.png" width="70" height="70" alt="user-photo">
      <div class="post post_third">
        <div class="user-info clearfix">
          <p class="user-comment__name">Mathew McDonald</p>
          <p class="user-comment__time"><time datetime="2017-04-08T16:16:11+03:00"></time>16:16, 8 Apr 17</p>
         </div>
         <p class="user-comment__text">Sed efficitur sodales tortor ut sollicitudin.</p>
         <a class="btn-reply" href="#" role="button">Reply</a>
      </div>
    </article>
    <form class="add-comment">
      <input class="placeholder" type="text" placeholder="Your comment">

    </form>
    <nav>
      <ul class="pagination">
        <li class="pagination__item pagination__item-prev"><a class="pagination__link" href="#">Prev</a></li>
        <li class="pagination__item pagination__item-second"><a class="pagination__link" href="#">2</a></li>
        <li class="pagination__item pagination__item-third"><a class="pagination__link" href="#">3</a></li>
        <li class="pagination__item pagination__item-fourth"><a class="pagination__link" href="#">4</a></li>
        <li class="pagination__item"><a class="pagination__link" href="#">5</a></li>
        <li class="pagination__item pagination__item-next"><a class="pagination__link" href="#">Next</a></li>
      </ul>
    </nav>
  </section>
</section>
