<ul class="room-catalog width-wrapper">
  <li class="room-catalog__item room-catalog__item_active">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/bed.png" width="30" height="26" alt="bedroom">Bedroom
    </a>
  </li>
  <li class="room-catalog__item">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/bathtub.png" width="30" height="29" alt="bathroom">Bathroom
    </a>
  </li>
  <li class="room-catalog__item">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/livingroom.png" width="40" height="23" alt="living room">Living room
    </a>
  </li>
  <li class="room-catalog__item">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/chef.png" width="30" height="28" alt="kitchen">Kitchen
    </a
    ></li>
  <li class="room-catalog__item">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/desk.png" width="30" height="28" alt="office">Office
    </a>
  </li>
  <li class="room-catalog__item">
    <a href="#" role="button">
      <img src="img/desktop/jumbotron-group/teddy-bear.png" width="30" height="30" alt="for children">For children
    </a>
  </li>
</ul>
